/* Stylesheet */

/* Body */
body, html {
  height: 100%;
  width: 100%;
  background-color: black;
  margin: 0;
  font-size: 100%;
}

/* Fonts */
@font-face {
  font-family: 'Roboto';
  src: url("../../Fonts/Roboto-Thin.ttf");
  font-style: normal;
  font-stretch: normal;
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url("../../Fonts/Roboto-Light.ttf");
  font-style: normal;
  font-stretch: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Roboto';
  src: url("../../Fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-stretch: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Kenzo';
  src: url("../../Fonts/Kenzo Regular.otf");
  font-style: normal;
}

/* Parallax Background Images */
.img1-parallax-home {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)), url("../../Assets/parallax_home_1.jpg");
  height: 100%;
  opacity: 1;
}
.img2-parallax-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),  url("../../Assets/parallax_home_2.jpg");
  height: 100%;
  opacity: 1;
}

    /* General */
.img1-parallax-home, .img2-parallax-home {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

/* Links */
a {
  text-decoration: none;
}
.work-button {
  /*background-color: red;*/
  display: block;
  float: none;
  width: 200px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -65px;
}
.h1-work-button {
  /*background-color: orange;*/
  display: block;
  float: none;
  width: 200px;
  height: 65px;
  margin-left: auto;
  margin-right: auto;
}

/* Text Styles */
.link-top {
  font-family: Roboto;
    color: white;
    font-size: 1.25em;
    font-weight: 200;
    text-align: right;
    text-shadow: 1px 1px 10px rgba(0,0,0,0.3);
  float: right;
    padding-top: 20px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
  transition: 0.1s;
}
.link-top:hover {
  text-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  transition: 0.2s;
}

.subtitle {
  margin: 0;
  padding: 20px;
    padding-top: 40px;
  font-family: Kenzo;
    color: black;
    font-size: 1.875em;
    font-weight: 200;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: none;
    text-emphasis-style: none;
}
.subtitle-alt {
  margin: 0;
  padding: 20px;
    padding-top: 40px;
  font-family: Kenzo;
    color: white;
    font-size: 1.875em;
    font-weight: 200;
    letter-spacing: 5px;
    text-align: center;
    text-decoration: none;
    text-emphasis-style: none;
}

p {
  margin: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 20px;
  font-family: Roboto;
    color: black;
    font-size: 1.25em;
    font-weight: 200;
    word-spacing: 2px;
    line-height: 28px;
    text-align: center;
}
  .slogan {
    font-family: roboto;
      /*color: rgba(10,14,15,1.00);*/
      color: white;
      font-size: 1.25em;
      font-weight: 200;
      text-align: center;
    /*background-color: white;*/
    padding: 20px;
    display: block;
      margin-left: auto;
      margin-right: auto;
  }
  .footer-text {
    font-family: monospace;
      color: white;
      font-size: 10px;
      letter-spacing: 1.5px;
      font-weight: 200;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .info-bar-p {
    padding: 0px;
      padding-bottom: 40px;
  }
  .info-overlay-p {
    color: white;
  }

/* DIVs */
.links-top {
  /*margin-right: 20px;*/
  /*position: fixed;*/
  width: 100%;
}

.info-bar {
  position: relative;
  background-color: white;
  height: auto;
  width: 100%;
}
.info-overlay {
  position: absolute;
  top: 30%;
  width: 100%;
}

.button-work-home {
  position: absolute;
    width: 100%;
    /*height: 150px;*/
    top: 40%;
}
  .button-work-home h1 {
    font-family: roboto;
      color: white;
      font-size: 3.125em;
      font-weight: 100;
      text-align: center;
    text-decoration: none;
    width: 200px;
    min-height: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    border-width: 2px;
      border-color: white;
      border-style: solid;
    transition: 0.1s;
}
    .button-work-home h1:hover {
      color: rgba(1,4,5,1.00);
      background-color: white;
      transition: 0.1s;
    }

.divider-line {
  background-color: black;
  height: 2px;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.work-display {
  display: flex;
  margin: 40px;
    margin-top: 0px;

}

.footer {
  height: auto;
  margin: 0px;
}

/* Phone media queries */
@media only screen and (max-device-width: 638px) {

/* Parallax Images */
.img1-parallax-home, .img2-parallax-home {
  background-attachment: scroll;
  background-position: bottom;
}

/* Text Styles */
  .link-top {
    float: none;
    display: block;
    padding-top: 10px;
  }

  .slogan {
    width: 300px;
  }
  .info-bar-p {
    padding-bottom: 20px;
  }
  .footer-text {
    font-size: 8px;
  }

  .subtitle {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

/* DIVs */
  .links-top {
    padding-top: 20px;
  }

}
